<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <connectionStrings>    
    <add name="APDBConnection" connectionString="Server=52.77.131.87;Database=APTSODB;user id=aptsodbuser;pwd=aptsodb@456321" providerName="System.Data.SqlClient" />   
  </connectionStrings>
</configuration>
